
body {
    padding:0;
    margin:0;
    color: #fff;
    font-weight: 600pt;
    font-family: 'Titillium Web', sans-serif;
  
}

.bgimg {
    background-image: url('../img/bg.png');
    background-repeat:no-repeat;
    background-size:cover;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center bottom;
    padding:0;
    position:fixed;
    bottom:0;
    width:100%;
    height:100%;
    z-index: -1;
}


button {
    
  margin: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  line-height: 3rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: -webkit-linear-gradient(290deg, #ff0000, #ec008c);
  background-image: linear-gradient(160deg, #ff0000, #ec008c);
  border-radius: 30px;
  cursor: pointer;
  -webkit-user-select: none;
    moz-user-select: none;
-ms-user-select: none;
 user-select: none;
  box-shadow: 0 0 0 0 #ec008c, 0.5rem 0.5rem 30px #13092d;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;   
    
    
    
}

button:hover {
  box-shadow: 0 0 60px 2px #ec008c, 0.5rem 0.5rem 30px #13092d;
}



button:after {
  content: '';

  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 30px;
  background-image: -webkit-linear-gradient(280deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: linear-gradient(170deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  pointer-events: none;
}

#filesinp {
  font-size: 8pt;
text-overflow: ellipsis;
max-width: 200px;
    margin:16px 0;
 
}
input[type="range"]{
    margin:16px 0;
    background-color:rgba(255, 255, 255, 0.8);
}

img {
    
    max-width:300px;
}
img.logo {
    display:block;
    margin:20px auto;
} 
body, span, input, select, textarea {
       font-family: 'Titillium Web', sans-serif;
        font-size: 16pt;
        font-weight: 300;
        line-height: 1.65em;
    }



        #nav {



        margin-left: 37%;
        font-weight: 400;
   



        }
    

.links {
    
    
  outline-width: thick;
    
}

   

    a {
        color: #fff;
        font-weight: 600pt;
        font-family: 'Titillium Web', sans-serif;
           text-decoration: none;
        
    }

        a:hover {

            color: lightpink;
        }

  a:active {

            color: lightskyblue;
            text-decoration: underline;
        }

#error {
    color:red;
}

.content {
    max-width:1000px;
    margin:auto;
    padding:2%;
    clear:both;
}

.hideinp {
    display:none;
}
.createcont {
    width:100%;
    float:left;
    margin:10% 0;
    
}
#msgcenter {
    width:80%;
    padding:8px;
    border:18px solid black;
    float:left;
    height:400px;
    overflow-y: scroll;
    background-color:rgba(255, 255, 255, 0.6);
}
#msgcenter img {
    width:40px;
    height:auto;
    border-radius: 20px;
    margin:14px;
    vertical-align: middle;
    float:left;
}
#msgcenter p {
    margin-left:20px;
}
.wrap {
    width:100%;
    float:left;
}

#cruserlist {
    float:left;
    width:10%;
    padding:8px;
    font-size: 10pt;
}
#msgbox {
    clear:both;
    float:left;
    margin:20px 0;
}
.morepop {
    display:none;
    position:fixed;
    left:10vw;
    width:80vw;
    top:10vh;
    padding:8px;
    background-color:black;
    color:white;
    text-align: center;
    padding: 10% 0px;
}
#login{
    text-align: center;
}


#customerheader div {
    float:left;
    width:33%;
}
#adminheader,
#customerheader {
    width:100%;
    margin:0;
    display:none;
    float:left;
    clear:both;
}
#adminheader div {
    width:20%;
    float:left;
}
#adminheader img,
#customerheader img {
    width:60px;
    margin:6px;
}
#adminheader i,
#customerheader i,
#chatctrls i {
    font-size:42pt;
}
#adminheader span,
#customerheader span,
#chatctrls span {
    font-size:10pt;
    margin:0 4px;
    display:block;
}
#bigheader {
    display:none;
}
#adminpage {
    max-width:600px;
    margin:auto;
}
#adminpage div {
    width:50%;
    float:left;
    text-align:center;
    margin:4% 0;
}
#adminpage i {
    font-size:42pt;
}

#chatctrls {
    width:100%;
    float:left;
    clear:both;
    padding:2%;
}
#chatctrls > div {
    float:left;
    margin:14px;
    cursor: pointer;
}
.admip {
    position:fixed;
    top:5%;
    left:5%;
    width:80%;
    background-color:black;
    padding:5%;
    overflow-y:scroll;
    height:80vh;
    font-size:14pt;
}
#exitpopup,
.exitupopup {
    color:#fff;
    position:absolute;
    right:10px;
    top:0;
    font-size:26pt;
    cursor:pointer;
}
.mychatrooms {
    text-align:center;
}
.listrooms div {
    cursor:pointer;
    margin:16px 0;
}
.listrooms div:hover {
     color: lightpink;
}
#meme {
    display:none;
}