body {
    margin:0;
    padding:0;
    background-color:rgba(119,36,87,1)
}
body, p, button, input {
    font-family: 'Maven Pro', sans-serif;
    font-size:16pt;
} 

h1 {
    font-size:24pt;
}

h2 {
    font-size:20pt;
} 

h3 {
    font-size:18pt;
}

.header {
    background-color:#9C528C;
    height:10vh;

}

.content {
    width:90%;
    margin:5%;
}

#signin {
    
    width:70%;
    margin:0 10%;
    padding:5%;
    

}

.blackinp {


    
    background-color:rgba(36,22,29,1);
    color:#fff;
    width:80%;
    padding:5%;
    margin:2% 5%;
    
    border-style:solid;
    border-width: 2px;
    border-color: rgba(216,90,211,1);
    border-radius:6px;
    

}

#signin p {
    width:80%;
    margin:2% 5%;
}

.ty {
    width:80%;
    padding:5%;
    margin:2% 5%;
    border-radius:10px;
    border:none;
}

#c {
    margin:2% 5%;
}

#subm {
    width:80%;
    padding:5%;
    margin:2% 5%;
    border-radius:10px;
    border:none;
    background-color:rgba(197,98,143,1);
    color:#fff;
}

#subm:hover{

    background-color:rgba(156,82,140,1);
}

#msgcenter {

    background-color:#BAE9D5;
    width:80%;
    margin:0 5%;
    padding:5%;
    height:80%;
    box-shadow: inset 4px 4px 14px 4px rgba(0,0,0,0.2);

}


#msgbox {

    width:80%;
    margin:5%;
    padding:5%;
}

.smallavi {
    width:10%;
    border-radius:50%;
    vertical-align: middle;
    margin:1%;
}
span {
    margin:1%;
}
