body {
    
    padding:4%;
}
img {
    
    max-width:100px;
}
body, span, input, select, textarea {
        font-family: 'Droid Sans', sans-serif;
        font-size: 16pt;
        font-weight: 300;
        line-height: 1.65em;
    }
   

    a {
        color: #F60669;
        font-weight: 200pt;
        font-family: 'Droid Sans', sans-serif;
    }

#error {
    color:red;
}

.header {
    background-color:#9C528C;
    float:right;
    width:100%;

}

.content {
    width:90%;
    margin:5%;
    float:left;
}

.hideinp {
    display:none;
}
