<!DOCTYPE HTML>

<html>
	<head>
		<title>Hello and Welcome to Vevo Image Sharing</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
        <script src="../js/jquery.min.js"></script>
		<script src="../js/jquery.dropotron.min.js"></script>
		<script src="../js/skel.min.js"></script>
		<script src="../js/skel-layers.min.js"></script>
		<script src="../js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="../index.html">Vevo Image Sharing</a></h1>
						
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="dashboard.html">Dashboard Main</a></li>
                                <li><a href="update.html">Settings </a></li>
								<li><a href="imageupload.html">Image Uploader</a></li>
								<li><a href="viewimages.html">View Images</a></li>
								<li><a href="viewcomments.html">Edit Comments</a></li>
							</ul>
						</nav>
					</div>
				<!-- Header -->

				<!-- Page -->
					
                
               			<div id="main">
						<div class="container">
							<div class="row"> 
								
								<!-- Content -->
								<div class="6u">
									<section>
										<ul class="style">
											<li class="fa fa-wrench" >
                                                
                                                
            <a href="update.html"><h3>Settings</h3>
                <br></br><span> Change your security settings </span> </li>
								
                                            
            <li class="fa fa-picture-o" >
												 
                                                
            <a href="imageupload.html" ><h3>Image Uploader</h3></a>
				<br></br><span> Load a cool image</span> </li>
										</ul>
									</section>
								</div>
								<div class="6u">
									<section>
										<ul class="style">
                                            
                                            
            <li class="fa fa-camera-retro">
            <a href="viewimages.html"><h3>View Images </h3>
												<br></br><span>View the uploaded messages</span> </li>
     
             <li class="fa fa-comments-o">
                              
            <a href="viewcomments.html"><h3>Edit Comments</h3><br></br>                     
                 <span>Under Construction  <i class="fa fa-frown-o"></i> </span> </li>
										</ul>
									</section>
								</div>
							</div>
						</div>
					</div> 
                
                
                
     

	</div>

	

	<!-- Copyright -->
	<div id="copyright">
			<div class="container">
				<div class="copyright">
					<p>KSak Designs 2016</p>
			
				</div>
			</div>

	</body>
</html>