<!DOCTYPE HTML>

<html>
	<head>
		<title>Image Upload</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
        <script src="../js/jquery.min.js"></script>
		<script src="../js/jquery.dropotron.min.js"></script>
		<script src="../js/skel.min.js"></script>
		<script src="../js/skel-layers.min.js"></script>
		<script src="../js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="../index.html">Vevo Image Sharing</a></h1>
						
						</div>
						<nav id="nav">
							<ul>
 <li><a href="dashboard.html">Dashboard Main</a></li>
 <li><a href="update.html">Settings </a></li>
 <li class="active"><a href="imageupload.html">Image Uploader</a></li>
<li><a href="viewimages.html">View Images</a></li>
<li><a href="viewcomments.html" >Edit Comments</a></li>
							</ul>
						</nav>
					</div>
			
              
					
            <div id="banner" class="container">
						<section>
						
							
						</section>
					</div>

    
    		<div id="footer" class="wrapper style2">
			<div class="container">
				<section>
					<header class="major">
                        <i style="font-size: 400%;" class="fa fa-camera-retro"></i>
<span class="byline"> Please Relogin and Upload your Image</span>
					</header>
					<form method="post" action="#">
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="name" id="username" placeholder="User" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="password" id="password" placeholder="Password" />
							</div>
						</div>
					
						<div class="row half">
							<div class="12u">
								<ul class="actions">
									<li>
				<input id = 'sub' value="Login" class="button alt"/>


        	
			
                                </div>
                            </div>
                <div class="row half"> 
                 <div class="12u">
                <input class='text' type='text' id='title' placeholder='Image Title'/>
                               </div>
                                </div> 
                 
                          
                            
                <div class="row half">
                <div class="12u">
               
                <input class='text' type='text' id='path' placeholder='Image Path'/>
                                </div>
                                </div> 
                <div class="row half">
                <div class="12u">
                <ul class="actions"><li>
                                    <input id='insert_img' value='Insert Image'class="button alt"/>
                              </div>
                                </div>
                                  </div>       
                                        </div>


	

	<!-- Copyright -->
	<div id="copyright">
			<div class="container">
				<div class="copyright">
					<p>KSak Designs 2016</p>
			
				</div>
			</div>

	</body>
                        
     <script>
    
    $(document).ready(function(){
     var user_id = -1; 
    //modify later
        
        document.getElementById("sub").onclick = function(){
         
    
        $.ajax({
          
          
          url:"../controller/user.php",
          type:"post",
          dataType: "json",
          data: {
          
          method: "login",
          username: document.getElementById("username").value,
          password: document.getElementById("password").value
           
            },
             
        success: function(resp) {
          alert("logged in!, now insert img");
          console.log(resp);
        user_id = resp[0].id;
            }
  
        
        });
    
   
        }
        
        //image insert
        
        document.getElementById("insert_img").onclick = function() {
       
        //ajax to the image controller 
            
        $.ajax({
            
            url:"../controller/image.php",
            type:"post",
            dataType: "html",
            data: {
                
             method: "insert",
            title: document.getElementById("title").value,
            path: document.getElementById("path").value,
            user_id: user_id
            },
                
              success: function(resp){
             alert("your image is inserted");
                window.location.href = "viewimages.html";
                    user_id = resp[0].id;
                
            }
            
        });
        
        }
       
    
    }); 
    
    </script>
                   
                        
                        
</html>