<!DOCTYPE html>
<html>


<head> 
    
   <title> Message Stuff</title> 
    
    
</head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    
    <body>
    
    <input type='text' id='username' placeholder='username'/>
      <input type='text' id='password' placeholder='password'/>
        <button id= 'sub'> Login </button>
        

 <input type='text' id='message' placeholder='type your msg'/>
  <button id= 'msg_sub'> Submit Message </button>
    </body>

<script>
    
    $(document).ready(function(){
     var user_id = -1; 
    //modify later
        
        document.getElementById("sub").onclick = function(){
        console.log("I work");
    
        $.ajax({
          
          
          url:"../controller/user.php",
          type:"post",
          dataType: "json",
          data: {
          
          method: "login",
          username: document.getElementById("username").value,
          password: document.getElementById("password").value,
          
            },
             
        success: function(resp) {
          alert("LOGged in!");
          console.log(resp);
        user_id = resp[0].id;
           
        
            }
  
        
        });
    
   
        }
        
        document.getElementById("msg_sub").onclick = function(){
          console.log("I worrk 2");
    
        $.ajax({
          
          
          url:"../controller/message.php",
          type:"post",
          dataType: "json",
          data: {
          
          method: "insert",
          user_id,
          msg: document.getElementById("message").value
         
          
            },
             
        success: function(resp) {
          alert("message sent!");
          console.log(resp);
        user_id = resp[0].id;
           
        
            }
            
        });
        
        }
       
    
    }); 
            
        

    
    </script>


</html>