<!DOCTYPE HTML>

<html>
	<head>
		<title>Settings</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
        
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="../js/jquery.min.js"></script>
		<script src="../js/jquery.dropotron.min.js"></script>
		<script src="../js/skel.min.js"></script>
		<script src="../js/skel-layers.min.js"></script>
		<script src="../js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="index.html">Vevo Image Sharing</a></h1>
						
						</div>
						<nav id="nav">
							<ul>
								<li><a href="dashboard.html">Dashboard Main</a></li>
                                <li class="active"><a href="update.html">Settings </a></li>
								<li><a href="imageupload.html">Image Uploader</a></li>
								<li><a href="viewimages.html">View Images</a></li>
								<li><a href="viewcomments.html" >Edit Comments</a></li>
							</ul>
						</nav>
					</div>
				<!-- Header -->

				<!-- Page -->
					
                
               			<div id="main">
						<div class="container">
							<div class="row"> 
								
								<!-- Content -->
								<div class="6u">
									<section>
										<ul class="style">
											<li class="fa fa-wrench" >
                <h3> Change your password </h3> </li>
						
										</ul>
						
            
<div class="row half">
<div class="12u">    
           <input class='text' id='password' type='password' placeholder='Password'/>
    
     <div>
    </div>
        <br>
<div class="row half">
<div class="12u">    
        <button id='submit' class="button alt">Old Password</button>
      
    <div>
    </div>
        
   <br>
<div class="row half">
<div class="12u">       
        <input class='text' id='pass_input' type='password' placeholder='New Password'/>
    
     <div>
    </div>
    <br>
<div class="row half">
<div class="12u">  
        <button id='update_but'  class="button alt">Update Password</button>
    
    <div>
    </div>
    <br>
        <div id='all_passwords'></div>

	</div>

	

	<!-- Copyright -->
	<div id="copyright">
		
				<div class="copyright">
					<p>KSak Designs 2016</p>
			
				</div>
			</div>
			</section>
								</div>
							</div>
						</div>
					</div> 
                
	</body>
    <script>
        
         $(document).ready(function(){
        
        
        var editDiv = null; 
        document.getElementById("update_but").onclick = function(){
            console.log("I WORK");
           
            //update the password
            var pass_id = this.dataset.id;  
         
            
            var cur_button = this;
          
          
                            
                            
                            $.ajax({
                                
                               url:"../controller/password_c.php",
                                dataType: "json",
                                data:{
                                    
                                    method: "update",
                                    id:pass_id,
                                    password:document.getElementById("pass_input").value
                                    
                                    
                                    },
                                
                                type: "POST",
                                success:function(resp){
                                    
                                 alert("UPDATED!");
                             
                              
                                    
                                    
                                    
                                    }
                                
                                });
            
            
                            }
        
        
        //inserting pwords
        
        document.getElementById("submit").onclick = function(){
            
            var password = document.getElementById("password").value;
           
            $.ajax({
                
            url:"../controller/password_c.php",
            dataType:"html",
            data:{
                
                method:"insert",
                password:password
                 
             },
                
                
                
                type:"POST",
                success: function(resp){
                    
                    alert("thank you now update");
                    
                }
                
            });
            
       
            
        }
        
        //viewing pword
        /* document.getElementById("view").onclick = function(){
            
            var password = document.getElementById("password").value;
           
            $.ajax({
                
            url:"../controller/password_c.php",
            dataType:"json",
            data:{
                
                method:"view",
                
                 
             },
                
                
                
                type:"POST",
                success:function(resp){
                    
                   console.log(resp);
                    
                    
                    //loop through the passwords in the db
                    for(var i = 0; i<resp.length; i++){
                    var pass_div = document.createElement("div");
                    pass_div.innerHTML = resp[i].password;
               
                    document.getElementById("all_passwords").appendChild(pass_div);
                    
                        
                    //HTML5 data we put the database id into the div
                        pass_div.dataset.id = resp[i].id;
                       
                        
                      //onclick this div, updates
                        
                        pass_div.onclick = function(){
                             
                            
                            var pass_input = document.createElement("input");
                            pass_input.id = "pass_input";
                   
                            pass_input.value = this.innerHTML;

                            document.getElementById("update").innerHTML = "";
                            document.getElementById("update").appendChild(pass_input);
                            document.getElementById("update_but").dataset.passid = this.dataset.id;

                            editDiv = this; 
                  
                
                        } 
                        
                        var pass_del = document.createElement("button");
                        pass_del.dataset.id = resp[i].id; 
                        pass_del.innerHTML = "Delete";
                        document.getElementById("all_passwords").appendChild(pass_del);
                    
                        pass_del.onclick = function(){
                            
                            var pass_id = this.dataset.id; 
                            
                            
                            $.ajax({
                
                                url:"../controller/password_c.php",
                                dataType:"json",
                                type:"POST",
                                data:{

                                    method:"delete",
                                    id:pass_id
                                
                                
                                },
                                
                                success: function(resp){
                                    
                                   alert("DELETED");
                                 
                              
                                }
                 
                                   
                            
                            });
               
                            
                            
                        }
                    
                    }
                    
                }


             }); 
             
         }; */
            
    });   
          
 
    

    
    
    </script>
</html>