<!DOCTYPE HTML>

<html>
	<head>
		<title>Vevo Image Sharing Service</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
            <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>
	
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							
						</div>
						<nav id="nav">
						
						</nav>
					</div>

				<!-- Banner -->
					<div id="banner" class="container">
						<section>
							<p>This is <strong>Vevo image Sharing</strong> this is a practice design for our Vevo messaging service, and my final assignment for Advanced Dynamic Contact Design. I could not get the comments portion to work :\ </p>
							
						</section>
					</div>

				<!-- Extra -->
	

	</div>

	<!-- Footer -->
		<div id="footer" class="wrapper style2">
			<div class="container">
				<section>
					<header class="major">
						<h2>Final Assignment</h2>
				<span class="byline">A Image Sharing Service </span>
					</header>
					<form method="post" action="#">
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="name" id="username" placeholder="User" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="password" id="password" placeholder="Password" />
							</div>
						</div>
					
						<div class="row half">
							<div class="12u">
								<ul class="actions">
									<li>
										<button id = 'sub' value="Register" class="button alt" </button>
                                       
									</li>
								</ul>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<div class="copyright">
					<p>KSak Designs 2016</p>
			
				</div>
			</div>
		</div>

	</body>
    
    
<script>
    
    $(document).ready(function(){
        
     document.getElementById("sub").onclick = function(){
         
    
        $.ajax({
          
          
          url: "../controller/user.php",
          type:"post",
          dataType: "html",
          data: {
          
          method: "insert",
          username: document.getElementById("username").value,
          password: document.getElementById("password").value
          
            },
             
        success: function(resp) {
          alert("INSERT!");
          
            }
  
        
        });
    
   
        }
    
    }); 
    
    
    
</script>
</html>