

<!DOCTYPE html>
<html>
    <head>
        <title>im | admin</title>
    </head>
    <script src = 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src = '../js/admin.js'></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='../css/style.css' rel='stylesheet' type='text/css'>

    <body>
        <h1>All users:</h1>
        <ul id = 'listusers'>
            
        
        </ul>
       
    </body>
</html>