<!DOCTYPE html>
<html ng-app='chat'>
    <head>
        <title>im | admin</title>
    </head>
    <script src = 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--<script src = '../js/admin.js'></script>-->
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <link href='../css/style.css' rel='stylesheet' type='text/css'>

    <body>
        
        
        <div class='header'>
        
        
        </div>
        
        <div class='content'>
        
            <div ng-controller = 'chatroomlist' class = 'addnew'>

                <h1 ng-click = 'showinp()'>+ add new chatroom</h1>
                 <input ng-model = 'inp' ng-show='{{hideinp}}' class = 'listinp' type = 'text' autofocus>

            </div>
        </div>
         
        
   <!--
        
        <div ng-controller = 'userlist'>
            
            <button ng-click = 'getUsers()'>List users</button>
            
            <div ng-click = 'moreinfo()' ng-hide = {{hidden}} ng-repeat='user in allUsers'>
            
                <div >
                    <img src='{{user.avi}}' class = 'smallavi'>
                    <span style='color:{{user.c}}'>{{user.username}}</span>
                    <p ng-hide = {{showmore}}>{{user.email}}</p>
                </div>
            
            </div>

        </div>
        
        -->
        <script>
            
            
            var adminchat = angular.module("chat", []);
            
            
            adminchat.controller('chatroomlist', ["$scope", function($scope){
                
                $scope.hideinp = 'true';
                
                $scope.showinp = function(){
                    $scope.hideinp = 'false';
                    
                }
            
            }]);
                
                
                
                
        
            /*
 
            var adminchat = angular.module("chat", []);
            
            
            adminchat.controller('userlist', ["$scope", function($scope){
                
                $scope.hidden = true;
                $scope.showmore = true;
                $scope.getUsers = function(){
                  
                    $.ajax({
                        url:'../cont/user.php',
                        dataType:'JSON',
                        data:{
                            method:'showAllUsers'
                        },
                        type:'POST',
                        success:function(allUsers){
                            console.log('allUsers is', allUsers);
                            
                            $scope.$apply(function(){
                                
                                $scope.allUsers = allUsers;
                                $scope.hidden = false;
                                
                            });
                            
                            
                            $scope.moreinfo = function(){
                                $scope.showmore = false;
                            };

                            /*

                            for(var i = 0; i < allUsers.length; i++){

                                var li = document.createElement('li');
                                var p = document.createElement('p');
                                p.innerHTML = allUsers[i].username;

                                p.addEventListener('click', bindClick(i))


                                li.appendChild(p);
                                document.getElementById('listusers').appendChild(li);


                            }
                            

                            function bindClick(i) {	
                                return function(){
                                    console.log('clicked', i);


                                    this.remove();
                                    var inp  = document.createElement('input');
                                    inp.value = allUsers[i].username;
                                    li.appendChild(inp);
                                    inp.onkeypress = function(e){
                                        console.log('key', e.keyCode);
                                    };


                                }
                            }
                            
                          

                        },
                        error:function(allUsers){
                            console.log('allUsers error', allUsers);

                        }
                    });
        
                };
                
                
  
                    
             }]);
             */
        
        </script>
    </body>
</html>