
        
        <div class='content'>
        
          <div ng-controller = 'chatroomCtrl' class = 'addnew'>
   
              <h1 ng-click = 'showinp()'>+ add new chatroom</h1>
                 <input ng-model = 'inp' ng-hide='{{hideinp}}' class = 'listinp' type = 'text' autofocus>

            </div> 
        </div>
         
        
 
        
        <div ng-controller = 'userlist'>
            
            <button ng-click = 'getUsers()'>List users</button>
            
            <div ng-click = 'moreinfo()' ng-hide = {{hidden}} ng-repeat='user in allUsers'>
            
                <div >
                    <img src='{{user.avi}}' class = 'smallavi'>
                    <span style='color:{{user.c}}'>{{user.username}}</span>
                    <p ng-hide = {{showmore}}>{{user.email}}</p>
                </div>
            
            </div>

        </div>
        

        <script>
            
            
           
        
        </script>
   