<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
    	<title>starter</title>
        <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='css/style.css' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
        <script src="js/users.js"></script> 
    
    </head>
    <!--
        CREATE:

        READ:

        UPDATE:

        DELETE:

    -->

    <body> 
        
        <div id = 'signupbox'>
            <input id='un' type = 'text' placeholder = 'username'>
            <input id='pw' type = 'password' placeholder = 'password'>
            <input id='email' type = 'email' placeholder = 'email'>
            <input id = 'avi' type = 'text' placeholder = 'avatar url'>
            <button id = 'signup'>sign up</button>
        </div>
    </body>
</html>