
<!DOCTYPE html>
<html>
    <head>
        <title>Chit Chat</title>
    </head>
    <script src = 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src = '../js/chat.js'></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='../css/style.css' rel='stylesheet' type='text/css'>


<body>



<input type='text' id='username' placeholder='username' />
<input type='text' id='password' placeholder='password' />
<button id='sub'>Login</button>

<input type='text' id='message' placeholder='Start Chat YAsss' />
<button id='msg_sub'>Submit Message</button>

    
<script>
    $(document).ready(function(){
        var user_id = -1;
        //modify our files a little bit later
        document.getElementById("sub").onclick = function(){
            //connect and insert
            $.ajax({
                url:"../cont/user.php",
                type:"post",
                dataType:"json",
                data: {
                    method:"login",
                    username: document.getElementById("username").value,
                    password: document.getElementById("password").value
                },
                success:function(resp){
                    alert("Logged in!");
                    console.log(resp);
                    user_id = resp[0].id;
                }
            });
        }

        document.getElementById("msg_sub").onclick = function(){
             $.ajax({
                url:"../cont/messages.php",
                type:"post",
                dataType:"json",
                data: {
                    method:"insert",
                    user_id: user_id,
                    msg: document.getElementById("message").value
                },
                success:function(resp){
                    alert("Logged in!");
                    console.log(resp);
                    user_id = resp[0].id;
                }
            });

        }
    });
</script>