<div ng-controller= 'newchatCtrl'>
    <p class='message'></p>
    <div class='restricted'>
        <div>create a new chatroom</div>
        
        <div class = 'addnew'>
   
            
              <input ng-show='{{hideinp}}' class = 'listinp' type = 'text' autofocus>
              <button ng-click = 'add()'>add new</button>

        </div> 
        
        <div>
            Select from users:
            <div class='userlist'>
            
            <div ng-repeat='user in allUsers'>
            
                <div>
                    <input type='checkbox' class='check' data-userid = '{{user.id}}'>
                    <img src='{{user.avi}}' class = 'smallavi'>
                    <span style='color:{{user.c}}'>{{user.username}}</span>
                    <p ng-hide = {{showmore}}>{{user.email}}</p>
                </div>
            
            </div>
            
            </div>
        </div>
        
    </div>   
</div>