
        
        <div class='content'>
            
            <div ng-controller= 'profileCtrl' class='userinfo'>
                
                
                
                
                
                <img class = 'profilepic' ng-click = 'update()' src='{{info.avi}}'>
                
                
                <form id='myform'>

                    <input  type='file' id='filesinp' multiple >
                    <button ng-click = 'updateAvi($event)' id='upload'>upload</button>

                </form>
                
                
               <!-- <input value= '{{info.c}}' type="color"> -->
                
                <div class="box">
                    
                    <h3 ng-click='showInp($event)' class="boxclick">{{info.name}}</h3>
                    
                    <input type='text' id='un' class=" hideinp boxclick" value='{{info.name}}'>
                    
                </div>
                
                <div class="box">
                    <p class="boxclick">{{info.email}}</p>
                </div>
                
                <button ng-click='updateUn()'>update</button>
            
            
                
                
                <button ng-click = 'logout()' id='logoutbtn'>log out</button>
            
            </div>
     
            
            
            

        </div>

<script>
    
    
    
    
    

        </script>
  