



        <div id = 'signin'>
            <input id='un' class='ty' type='text' placeholder = 'username'>
            <input id='pw' class='ty' type='password' placeholder = 'password'>
            <input id='email' class='ty' type='email' placeholder = 'email'>
            <input id='avi' class='ty' type='text' placeholder = 'image url'>
            <input type="radio" name="status" value="1">Admin<br>
            <input type="radio" name="status" value="2">Customer<br>
            <p>pick a colour:</p>
            <input id='c' type='color'>
            <button id='subm'>Join the chat!</button>
            
            
        </div>
