



        <div id = 'signin'>
            <input id='un' class='ty' type='text' placeholder = 'username'>
            <input id='pw' class='ty' type='password' placeholder = 'password'>
            <input id='email' class='ty' type='email' placeholder = 'email'>
            
            
            <p>pick a colour:</p>
            <input id='c' type='color'>
            <button id='subm'>Signup!</button>
           <br><br>
            <button id='showadmin'>Sign in as admin</button>
            
        </div>
